@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700');
@import 'asciidoctor.css';

/*
 * Overrides for asciidoctor.css 
*/

/* No underlining of links please */
a {
    text-decoration: none;
}

/* Inline code: */
:not(pre) > code {
    /* font-size: smaller; */
    padding: 0; /* Remove asciidoctor's padding */
    background-color: inherit; /* Do not want asciidoctor shading */
    color: #BA3925; /* Change color to stand out as code */
}

/* Code links use code color not link color */
:not(pre) > code > a {
    color: inherit;
}

/* 
 * CSS for the Top of Page links to the right of section headers
 * Different heading levels need different padding for alignment
*/
.ta_toplink_h2 {
    float: right;
    font-size: small;
    padding-top: 5em;
}
.ta_toplink_h3 {
    float: right;
    font-size: small;
    padding-top: 1em;
}
.ta_toplink {
    float: right;
    font-size: small;
    padding-top: 0.5em;
}

.ui, .menuseq, .menu {font-family:sans-serif}
.literalblock pre,.listingblock pre:not(.highlight),.listingblock pre[class="highlight"],.listingblock pre[class^="highlight "],.listingblock pre.CodeRay,.listingblock pre.prettyprint{font-size:small;line-height:1.3}

.sectlevel3 li {
  padding-left: 1em;
  text-indent: -1em;
}

.ta-toc {
  font-family: sans-serif;
  font-size: 0.90em;
  line-height: 1.3em;
  z-index: 1;
  background-color: #BA3925;
  border-radius: 4px;
  padding: 5px;
  position: fixed;
  top: 2px;
  right: 2px;
}

.ta-toc-nav {
margin: 0; font-size: 0.9em; line-height: 1.3; list-style-type: none; display: none;
}

.ta-toc:hover > .ta-toc-nav {
  display: block;
}

.ta-toc-nav li a {
  color: white; text-decoration: none;
}

.ta-drop-indicator {
 font-size: 60%; vertical-align:middle;
}

.ta-toc:hover .ta-drop-indicator {
  display: none;
}
